<p><a name="sections"></a></p>


# Sections

- <a href="#DS">Data Structure</a><br>
- <a href="#DM">Data Manipulation</a><br>
- <a href="#miss">Handling Missing Data</a><br>
- <a href="#grouping">Grouping and aggregration</a><br>
- <a href="#time">Time Series</a><br>
- <a href="#sol">Solutions</a><br>

# Pandas

<p><a name="DS"></a></p>
### Data Structure

- Pandas is a Python package built on top of NumPy.  It is particularly strong in the area of handling spreadsheet structures, dealing with missing data, and processing time series data.

- We will talk about three data structure objects in today's lecture: Series, DataFrame and Time Series.

These are the new data types introduced by pandas:

- **Series**: 1D labeled homogeneously-typed array.
- **DataFrame**: General 2D labeled, size-mutable tabular structure with potentially heterogeneously-typed columns.
- **Time Series**: Series with index containing datetimes.

Import the package, as follows:

In [ ]:
import numpy as np
import pandas as pd

<p><a name="series"></a></p>
## Series

- A series is a one-dimensional array-like object containing homogenously typed elements.   
- Each element has an associated data label, called its index. By default, the index consists of ordinary array indices, i.e. consecutive integers starting from zero.

In [ ]:
obj = pd.Series(['a', 'b', 'c', 'd'])
obj

In [ ]:
obj.index  #this is the default index

- An entry can be retrieved using the index, as follows:

In [ ]:
obj[0]

- Often it will be more desirable to create a series with a custom index. 
- Here the index is manually set the index from 1 to 4, with 4 repeated. Note there are two rows with the same index 4.

In [ ]:
obj2 = pd.Series(['a', 'b', 'c', 'd','e'], index=[1, 2, 3, 4, 4])
obj2

- Calling that entry gives both values.  In this way a series is different from a dictionary.

In [ ]:
obj2.index #custom index

In [ ]:
obj2[4]

- The index value may also be a string.  A new entry with a string index is written:

In [ ]:
obj2['something']=660
obj2

- Note the entries are not retrievable by their place but the value of their index.

In [ ]:
print(obj[1])
print(obj2[5]) # This one also works
print(obj2[6]) # KeyError

- The attribute `values` returns all the values.

In [ ]:
obj2.values

In [ ]:
obj2.values[1]   # obj.values is simply an array

- The **Series** object is similar to a **dictionary**, `Series.index` is like `dictionary.keys`, and `Series.values` is like `dictionary.values`. Directly convert a dictionary to a Series, as follows:

In [ ]:
dict_ = {1: 'a', 2: 'b', 3: 'c', 4: 'd'}
obj3 = pd.Series(dict_)
obj3

Convert a Series back to a dictionary.

In [ ]:
obj3.to_dict()

Note what happens in translating a series with repeated index values.  Only the last entry for the repeated index is included in the dictionary.

In [ ]:
obj2.to_dict()

<p><a name="DF"></a></p>
## DataFrame

- A data frame represents a tabular, spreadsheet-like data structure containing an ordered collection of columns.
- Each column can be a different type (integers, strings, floating point numbers, Python objects, etc.).  
- All columns must be the same length, to give the data frame a defined shape.

In [ ]:
data = {'commodity': ['Gold', 'Gold', 'Silver', 'Silver'],
        'year': [2013, 2014, 2014, 2015],
        'production_Moz': [107.6, 109.7, 868.3, 886.7]} #world wide in million oz

# convert to DataFrame
df = pd.DataFrame(data)
df

In [ ]:
df.columns

In [ ]:
df.index #standard index

In [ ]:
df.index=([4,5,6,7])
df

In [ ]:
df.index #custom integer index

- The index may be set using the method `set_index`, as follows:

In [ ]:
df=df.set_index('commodity')
df

In [ ]:
df.index #custom string index

In [ ]:
#floats can also be an index
df.set_index('production_Moz').index

In [ ]:
df

In [ ]:
df['year'] #this yields a pandas series

In [ ]:
df[['year']] #this yields a pandas data frame

- The dataframe can restore the original index using the mathod `reset_index`, as follows:

In [ ]:
df = df.reset_index()
df

- A data frame can also be created with a nested list. The two ways are equivalent.

In [ ]:
df_2=pd.DataFrame([[107.6, 'Gold', 2013],
                   [109.7, 'Gold', 2014],
                   [868.3, 'Silver', 2014],
                   [886.7, 'Silver', 2015]], 
                    columns=['production_Moz','commodity','year'])
df_2

- A data frame has an attribute **values**, which is of the multidimensional array type.

In [ ]:
print(type(df.values))

In [ ]:
print(df.values)
print('-'*55)
print(df_2.values)

- data frame v.s. series is similar to 2D array v.s. 1D array. A data frame has column names for the additional dimension.

In [ ]:
print(type(df.columns))

In [ ]:
print(df.columns)  # column name

In [ ]:
df.columns.tolist()

- Each column in a DataFrame can be retrieved as a Series. 
- There are two ways to get the column: to retrieve by attribute and to retrieve by dictionary-like notation.

In [ ]:
df.year         # retrieve by attribute

In [ ]:
df['year']  # retrieve by dictionary-like notation

- The name of an individual column may be changed as follows:

In [ ]:
df.columns=['commodity', 'com','production']
df

In [ ]:
df.columns = df.columns.str.replace('com','metal')
df

- Indexing a pandas data frame is similar to indexing a numpy array. In pandas the first index retrieves a column and the second index retrieves the row.  
- To return the third element of the metal column, use the following:

In [ ]:
df['metal'][2]

- Slicing a pandas data frame is also similar to slicing a numpy array.  The following code returns the second and third elements of the production column.

In [ ]:
df['production'][1:3]

- In order to slice multiple columns pass a list of column names.  The following represents the world production of gold and silver in 2014.

In [ ]:
df[['metal','production']][1:3]

** Exercise 1** 

Create a Pandas DataFrame, named 'NYC', whose columns are 'boro', 'pop' and 'area'. The frame represents the five boroughs of New York City, including the 2010 census population (in millions),and land area in square miles.  The rows represent the following:

- The Bronx is 42 square miles.  In the 2010 census, the Bronx had 1.39 million people.
- Manhattan, with 2010 population 1.59 million, has an area of 23 square miles.
- Brooklyn is 71 square miles.  The 2010 population was 2.47 million.
- In 2010, Staten Island had 0.44 million inhabitants.  It is 59 square miles.
- 2.23 million people lived across the 109 square miles of Queens, in 2010.

Create a new column representing the population density using:
```
NYC['density']=NYC['pop']/NYC['area']
```

Now set the index of NYC to be the borough names using `set_index` function of a data frame. Make sure to update the data frame.

In [ ]:
#### Your code here

<p><a name="IO"></a></p>
## I/O tools

- Pandas has a number of functions for reading tabular data as a data frame object.

In [ ]:
# The below command prompt is not supported on this platform, please click and open the file directly to view its contents
# !cat foo.csv
# !type foo.csv # Windows user

In [ ]:
pd.read_csv('foo.csv')

- In some cases, there is no header in the file. By setting `header = None`, the column names will be filled with incremental numbers.

In [ ]:
# The below command prompt is not supported on this platform, please click and open the file directly to view its contents
# !cat foo_noheader.csv

In [ ]:
my_df=pd.read_csv('foo_noheader.csv', header = None)
my_df

- The column names may then be set, as follows:

In [ ]:
my_df.columns=['a', 'b', 'c', 'd', 'message']
my_df

- Another way is to pass the column names (as a list of strings) to the `names` parameter in `read_csv`.  
- Note the parameter is called "names" instead of "columns".

In [ ]:
# Set the names manually
pd.read_csv('foo_noheader.csv', 
             names=['a', 'b', 'c', 'd', 'message'])

- Importing files has been covered. This exercise demonstrates file exporting.

**Exercise 2** 

- Write the data frame, `NYC`, to a file, NYC.csv. The function `to_csv` is useful for this task.
- Now load 'NYC.csv' to a data frame named NYC2.

In [ ]:
#### Your code here

In [ ]:
NYC

In [ ]:
NYC2=pd.read_csv('NYC.csv', index_col=0) # use the first column as index
NYC2

<p><a name="DM"></a></p>
# Data Manipulation in Pandas

- Like numpy, pandas defines many broadcast operations, as well as numerous methods of manipulating data.

<p><a name="concat"></a></p>
### concat
Pandas DataFrames can be expanded in both directions. First create two data frames.

In [ ]:
df1 = pd.DataFrame(np.arange(9).reshape((3, 3)), 
                   columns=['a', 'b', 'c'],
                   index=['one', 'two', 'three'])
df2 = pd.DataFrame(np.arange(6).reshape((3, 2)), 
                   columns=['d','e'],
                   index=['three', 'two','one'])
df1

In [ ]:
df2

- Since the two data frames have the same number of rows, it is natural to combine them "horizontally".  
- Note the concatenation takes place on the name of the index and not the order.

In [ ]:
pd.concat([df1, df2], axis = 1)

- The argument "axis = 1" means expanding along the column indices. Setting "axis = 0" will combine two data frames with same number of columns vertically. 

- Now changing the name of row 'one' to One' gives it a different index.  In this case the concatenation will use all the rows, filling in missing values with NaN.

In [ ]:
df1 = pd.DataFrame(np.arange(9).reshape((3, 3)), 
                   columns=['a', 'b', 'c'],
                   index=['One', 'two', 'three'])
df2 = pd.DataFrame(np.arange(6).reshape((3, 2)), 
                   columns=['d','e'],
                   index=['three', 'two','one'])
print(df1,'\n\n',df2)

In [ ]:
pd.concat([df1, df2], axis = 1)

- To include only the shared rows, set the join parameter to 'inner', as following:

In [ ]:
pd.concat([df1, df2], axis = 1, join='inner')

**Exercise 3**

In the iPython notebook, create the data frame below.  Observe that this is a data frame with new features.  

There are three new features:

- **high_point** is the location of highest elevation 
- **geography** indicates if the borough is an island, on an island, or mainland
- **inception** indicates the year of incorporation into the City of New York

Combine 'new_features' with the old NYC data frame to make a new data frame named 'NYC3'.

In [ ]:
new_features = pd.DataFrame({'high_point': ['Battle Hill', 'Chapel Farm', 'North Glen Oaks', 'Bennett Park','Todt Hill'],\
                            'geography':['on island','on mainland','on island','is an island','is an island'],\
                           'inception':['1634','1898','1683','1624','1683']},\
                            index=['Brooklyn', 'Bronx', 'Queens', 'Manhattan',"Staten Island"])
new_features

In [ ]:
#### Your code here

<p><a name="sort"></a></p>
### sort
- It is possible to order the rows of data frames using `sort_values()`.  This object method takes a column name as an argument.
- It is used on the new_features data frame to order by date of inception, as follows:

In [ ]:
new_features.sort_values('inception')

By default the sort is done in ascending order.  To apply the sort in decending order, set the `ascending` parameter to `False`.

In [ ]:
new_features.sort_values('inception',ascending=False)

<p><a name="merge"></a></p>
### merge
Merging is the most common way to combine multiple data frames. Create two data frames first.

In [ ]:
df3 = pd.DataFrame([['a','b','c'],['d','e','f'],['g','h','i']]\
                   ,columns=['col1','col2','col3'])
df4 = pd.DataFrame({'col2':['x','e','b','z'],'col4':[1,2,3,4],'col5':['i','f','e','h']})
df3

In [ ]:
df4

- Merging will use the **`on`** column as a key for the merge.  The code below identifies the column ‘col2’ from both data frames. 
- The argument **`how`** set to 'inner' makes the merge only keep rows occuring in both data frames.

In [ ]:
pd.merge(df3, df4, how='inner', on ='col2')

- The default value of the parameter `how` is 'inner'. The following code performs the same task as above.

In [ ]:
pd.merge(df3, df4, on ='col2')

- To keep every row in df1 then set the parameter `how` = 'left'.

In [ ]:
pd.merge(df3, df4, how='left', on ='col2')

- To keep all rows from both df1 and df2, set the parameter `how` = 'outer'.

In [ ]:
pd.merge(df3, df4, how='outer', on ='col2')

- If the `on` column does not have the same name in the two data frames, use 'left_on' and 'right_on' to indicate how to perform the merge.  
- Note that columns with the same name, in the two data frames, will be named with an x or y character appended.

In [ ]:
pd.merge(df3, df4, left_on='col2', right_on='col5')

**Exercise 4**

- Run the following code to create a data frame, 'Elevations'. It contains NYC locations and their elevation in feet.  How is this related to the NYC data frame? Why separate this information into another data frame?
- Combine this data with the full NYC3 data frame to make a new data frame named NYC4.
- Note NYC3 is indexed using boro, we want to keep it after the merge.
- Change the name of the elevation column to 'peak_elevation'.
- Order the data frame by highest to lowest 'peak_elevation'.

In [ ]:
Elevations = pd.DataFrame([['Battle Hill',220],['Marcus Garvey Park',103],['Bennett Park',265],\
                           ['Todt Hill',410],['Washington Square Park',27],['Chapel Farm',280],\
                           ['Bryant Park',58],['North Glen Oaks',258],['St Marys Park',47]],
                      columns=['location', 'elevation'])
Elevations

In [ ]:
# Your code here

<p><a name="SF"></a></p>
### selection and filter

- The `loc` method provides purely label (index/columns)-based indexing. 
- This method allows selection from a data frame by index and columns.

In [ ]:
df1

The following returns a single column of df1.

In [ ]:
df1['a'] #gives series

In [ ]:
df1[1] #this throws an error

In [ ]:
type(df1['a'])

In [ ]:
df1[['a']] #gives a single column data frame

In [ ]:
df1[['a','c']] #gives a multi column data frame

- The following uses `loc` to return a single row of df1, using the index string name.

In [ ]:
df1.loc['two'] # the row that has index two

In [ ]:
df1.loc[['two']] # the row that has index two

- A second parameter is passed to loc to specify the chosen column. For example:

In [ ]:
df1.loc['two', 'b'] # the row that has index two and column b

- Note the two ways to accomplish this:

In [ ]:
print(df1.loc['two', 'b'])
print(df1['b'][1])

- Fancy indexing can be done with `loc` in pandas, as was done in Numpy. Select a row with a condition, as follows. 
- The code below returns all columns for the rows in which column 'a' is zero.

In [ ]:
df1.loc[df1.a==0,:]

- Columns are selected in a similar way.  The code below returns all rows for the columns in which row 'one' is zero.

In [ ]:
df1.loc[:, df1.loc['One']==0]

- Note: loc only accepts labels as input. If you try to use numbers, it will give you an error. For example:

In [ ]:
df1.loc[1, 2]

- To select data by position number, use iloc. The iloc method provides a purely position based indexing.

In [ ]:
# select as a matrix 
# row 2, col 3
df1.iloc[1, 2]

In [ ]:
# first row, first two columns
# return a Series
row1 = df1.iloc[0,:2]
row1

- You can also use a list to slice the dataframe.

In [ ]:
df1.iloc[[0,2], :2]

In [ ]:
NYC4 #look at NYC4 again

In [ ]:
#get the i=2 and i=4 column of NYC4
NYC4.iloc[:,[2,4]]

- DataFrame’s apply method applies a function on 1D arrays to each column or row.

In [ ]:
df1.apply(lambda x: max(x), axis=0) # 0 stands for apply to each column

In [ ]:
df1.apply(lambda x: min(x), axis=1) # 1 stands for apply to each row

- If you just want to apply the function to a single column, you can extract that specific series first and then call the `map()` method just like the `map` operator in Python.

In [ ]:
df1.a.map(lambda x: x+1)

### Removing data

In [ ]:
#this removes row 'two'
df1.loc[df1.index != 'two']

In [ ]:
#this removes column 'a'
df1.drop('a', 1)

- Rows and columns may also be removed using fancy indexing or `drop()`.

In [ ]:
#this removes column b
df1.loc[:,df1.columns != 'b']

In [ ]:
# remember the following expression is a boolean and acts as a mask
df1.columns != 'b'

In [ ]:
#this removes column 'b'
df1.drop('b', axis=1)

<p><a name="miss"></a></p>
# Handling Missing Data

- Missing or, equivalently, corrupt data is an unavoidable reality in processing large data sets.  There are various ways of dealing with it, depending upon the circumstances:
 - Discard it, and all related data.
 - Interpolate values from surrounding data
 - Isolate it and analyze it separately

- Which approach to use is a scientific question.  Whatever approach is chosen, pandas has computational methods to carry it out.
- Read a csv file that contains NaNs. **Note:** index_col is set to 0.  This means the first column is used as the index.

In [ ]:
df_miss = pd.read_csv('missing.csv',index_col=0)
df_miss

- To figure out where the missing data is, use the `isnull()` method.

In [ ]:
df_miss.isnull()

- How many missing values are there in the dataframe?

In [ ]:
sum(df_miss.isnull()) # Built-in sum doesn't work

- Summing up the boolean array reports how many missing values are in each column.

In [ ]:
np.sum(df_miss.isnull())

- The same is possible for rows by setting the axis parameter to 1.

In [ ]:
np.sum(df_miss.isnull(), axis=1)

- To isolate the rows in which there are null values, aggregate the `df.isnull()` boolean data frame along rows, using `any` with `axis=1`.

In [ ]:
mask=df_miss.isnull().any(axis=1)
mask

- Passing the boolean Series to the first position of the `loc` method of the DataFrame selects the rows that have value equal to True:

In [ ]:
df_miss.loc[mask,:]

- Similarly, if you want to locate the rows that contains only missing values, you can use `all()`

In [ ]:
mask=df_miss.isnull().all(axis=1)
mask

**Exercise 5**
- Handling NaNs has been shown, however, not all missing values are NaNs. Consider the example below:

```
Employee = pd.read_csv('Employee_continue.csv')
```

Print the data frame, looking for missing values by inspection. How many missing values are there? Some of the missing values might not be NaNs.

In [ ]:
Employee = pd.read_csv('Employee_continue.csv')
Employee

- See '?' in the data frame. For a small data frame like this the '?' may be replaced by `np.nan` manually. In dealing with a large data frame, it is more efficient to use the function `replace`. Use `replace` to swap '?' with `np.nan`.

In [ ]:
#### Your code here

- How many missing values are there in each row? How many in each column?

In [ ]:
#### Your code here

- Print the rows with missing values.

In [ ]:
#### Your code here

- Print the columns with missing values.

In [ ]:
#### Your code here

Once all the missing values are represented by `NaN`s, Pandas provides various methods for handling them:

<p><a name="dropna"></a></p>
## dropna
- One option is to discard the rows with missing values. Below the arguments `axis=0` and `how='any'` indicate dropping *rows* with a NaN in *any* position.

In [ ]:
df_miss

In [ ]:
df_miss.dropna(axis=0, how='any')

- Another option is to drop rows full of NaNs. This can be done with `how='all'`.

In [ ]:
df_miss.dropna(axis=0, how='all')

- Applying `dropna()` to the above data frame may be done once more. Drop a column with the argument `axis=1`.

In [ ]:
df_miss.dropna(axis=0, how='all').dropna(axis=1, how='any')

<p><a name="fillna"></a></p>
## fillna

- An alternative to discarding information is to **impute** the data. 
- This can be done with the `fillna()` function with the value to be imputed as the argument.

In [ ]:
df_miss.fillna(0)

- Another common way to impute is by the mean of the column.

In [ ]:
df_miss['one'].fillna(df_miss['one'].mean())

<p><a name="interpolate"></a></p>
## Interpolate

- Interpolation is the insertion of new data between preeexisting fixed points. Linear interpolation uses a linear function to create new data point.  
- In pandas this is accomplished using `interpolate()` with the `method` parameter set to linear, `method='linear'`.  
- This will fill in missing data points with a linear interpolation between the data points bordering the missing values.

In [ ]:
df_miss

In [ ]:
df_miss.interpolate(method='linear')

- Since `df.loc['b','one']` is a NaN between `df.loc['a','one']` and `df.loc['c','one']`, the value inserted is the mean of them.
- Note how this technique treats NaN values at the bottom of a column.

In [ ]:
(df_miss.loc['a', 'one'] + df_miss.loc['c', 'one'])/2

<p><a name="grouping"></a></p>

# Grouping and Aggregation

Grouping and  aggregation are critical components of data analysis which involve:

- **Splitting** data into groups based on some features.
- **Applying** a function to each group independently.
- **Combining** the result into data structure.

### Grouping

Grouping splits a data frame into categorical groups, according to a given variable, or set of variables.   Consider the following data frame.

In [ ]:
Country = pd.read_csv('countries.csv', delimiter=';')
Country.head()

In [ ]:
#choose the desires columns
Country=Country[['Country','Continent','Population','Area','Coastline',
                'Currency','Birthrate','Deathrate','Life expectancy']]
#change the column names to lowercase
Country.columns = Country.columns.str.lower()
#drop columns with missing values (Antarctica)
Country=Country.dropna(axis=0, how='any')
#limit to countries with populations over 20 million
Country=Country[Country['population']>20e6]
#add a boolean valued column that is true for countries with coastlines
Country['coastal']=Country['coastline']!=0
Country

- This will calculate the mean population.

In [ ]:
Country['population'].mean()

- This will calculate the sum of all populations in Asia.

In [ ]:
Country[Country['continent']=='Asia']['population'].sum()

- This will return the number of land-locked countries in the data frame.

In [ ]:
Country[Country['coastal']==False].country.count()

- To group the countries by continent, do the following:

In [ ]:
group = Country.groupby('continent')

- `group` is assigned the value returned by the `groupby` function, whose type is:

In [ ]:
print(type(group))

- The `DataFrameGroupBy` object is an `iterable`. Iterate over the object and print the contents, as follows:

In [ ]:
for item in group:
    print(item)

- Each `item` we print is a two element `tuple`. The first element is the grouping.  
- The second element is a data frame for that grouping. There is an alternative way of iterating through the groupby object, as follows:

In [ ]:
for key, values in group:
    print(key) #this indicates the grouping
    print('-'*70)
    print(values) #this is a dataframe for that 
    print('\n')

- This is a great way to print and inspect a `DataFrameGroupBy` object. Above was an example of **splitting**.
- The size function includes the number of elements in each grouping.

In [ ]:
group.size()

- The following will return a data frame with the mean values for every coulumn in every grouping.

In [ ]:
group.mean()

- If you just want the mean of one specific column.

In [ ]:
group.birthrate.mean()
# group[['birthrate']].mean() # This returns a data frame

### Aggregration

- The data frame can be grouped by multiple keys:

In [ ]:
group2 = Country.groupby(['continent', 'currency'])

In [ ]:
for key, values in group2:
    print(key)
    print('-'*70)
    print(values)
    print('\n')

In [ ]:
group2.mean()

- Apply multiple functions to each group with the method `agg()`:

In [ ]:
group.agg(['count', 'sum', 'min', 'max', 'mean', 'std'])

- To look at a single column of the aggregate analysis, use the column indexing:

In [ ]:
group.agg(['count', 'sum', 'min', 'max', 'mean', 'std'])['birthrate']

- The column std is missing a value above because Australia only has one row in the data frame.
- Also note that `sum` is an inappropriate function to apply to birthrate where it would be applicable to population.

- Different aggregating functions can be applied to different columns. This can be done with a dictionary.

In [ ]:
colFun = {'country':['count'],
          'population': ['sum','min', 'max','mean','std'], 
          'area': ['sum','min', 'max','mean'],
          'coastline':['sum','min', 'max'],
          'birthrate':['min', 'max','mean','std'],
          'deathrate':['min', 'max','mean','std'],
          'life expectancy':['min', 'max','mean','std']}
analysis=group.agg(colFun)
analysis

- Custom aggregation functions may also be applied. In the previous examples, aggregation functions are applied to each **column** in a data frame. 
- Keep this in mind when defining a custom function. For example, build a function that computes the mean after removing maxima (truncated mean).

In [ ]:
def trunc_mean(x):    # x has to be a 'vector' (1d array or pandas Series)
    sec=x[x!=x.max()]
    if sec.shape[0]!=0:
        return np.mean(sec)

In [ ]:
Country[Country['country']!='Australia' ].groupby('continent').agg(trunc_mean)

**Exercise 6**

Using the data frame Country:

- Find the minimum and maximum of the 'life expectancy' for costal and landlocked countries.
- How many coastal and landlocked countries are in each continent? Determine the mean deathrate for coastal and landlocked countries in each continent.
- Create a new column measuring population density.  Determine the mean population density of all the countries.  Create a new column 'dense' that is True for countries with higher than average density and False for lower than average density.
- For each category of 'dense' compute the mean birthrate and the difference between the maximal birthrate and the minimal birthrate.

In [ ]:
#### Your code here

<p><a name="time"></a></p>
# Time Series

We will use the NYSE data from [Kaggle](https://www.kaggle.com/dgawlik/nyse) to illustrate how to use the time series data structure in pandas.

There are two time series related csv files:
- prices.csv: raw, as-is daily prices. Most of data spans from 2010 to the end 2016, for companies new on stock market date range is shorter. There have been approx. 140 stock splits in that time, this set doesn't account for that.
- prices-split-adjusted.csv: same as prices, but there have been added adjustments for splits.

In [ ]:
url_adjusted = 'https://graderdata.s3.amazonaws.com/prices-split-adjusted.csv'

### Your code here
split_adjusted_price = pd.read_csv(url_adjusted)

In [ ]:
split_adjusted_price.head()

- The date column contains timestamps so we can use it as the index of our dataframe.

In [ ]:
split_adjusted_price['date'] = pd.to_datetime(split_adjusted_price['date'])
split_adjusted_price = split_adjusted_price.set_index('date')

In [ ]:
split_adjusted_price.head()

- Once it becomes datetime data type, we can extract the month, date, year or even the weekday easily.

In [ ]:
split_adjusted_price.index.day

In [ ]:
split_adjusted_price.index.month

In [ ]:
split_adjusted_price.index.dayofweek

- You can also extract the observations within any time range.

In [ ]:
# View all observations that occured in May 2016
split_adjusted_price.loc['5/2016']

In [ ]:
# Observations between May 3rd and May 4th
split_adjusted_price['5/3/2016':'5/4/2016']

- Once you have the dataframe has a datetime index, you can easily plot the time series graph across different columns.
- i.e the closing price of Apple Inc

In [ ]:
%matplotlib inline
split_adjusted_price[split_adjusted_price['symbol'] == 'AAPL'].close.plot()

<p><a name="sol"></a></p>
# Soluitons

**Exercise 1**

In [ ]:
NYC=pd.DataFrame([['Bronx',1.39,42],
                ['Manhattan',1.59,23],
                ['Brooklyn',2.47,71],
                ['Staten Island',0.44,59],
                ['Queens',2.23,109]],columns=['boro','pop','area'])

NYC['density']=NYC['pop']/NYC['area']
NYC=NYC.set_index('boro')
NYC

**Exercise 3**

In [ ]:
NYC3=pd.concat([NYC, new_features], axis = 1)
NYC3

**Exercise 4**

In [ ]:
NYC4=pd.merge(NYC3.reset_index(),Elevations,left_on='high_point',right_on='location').set_index('index')
NYC4.columns=NYC4.columns.str.replace('elevation','peak_elevation')
NYC4=NYC4.sort_values('peak_elevation',ascending=False)

**Exercise 5**

In [ ]:
Employee=Employee.replace('?',np.nan)
Employee
np.sum(Employee.isnull(), axis=1)
np.sum(Employee.isnull(), axis=0)
Employee.loc[Employee.isnull().any(axis=1),:]
Employee.loc[:,Employee.isnull().any(axis=0) ]

**Exercise 6**

In [ ]:
Country.groupby('coastal').agg({'life expectancy':['min','max']})
Country.groupby(['continent','coastal']).agg({'deathrate':['count','mean']})
Country['density']=Country['population']/Country['area']
Country['dense']=Country['density']>Country['density'].mean()
def diff_(x):
    return max(x)-min(x)
Country.groupby('dense').agg({'birthrate':['mean',diff_]})